.logo {
  font-family: var(--logo-text-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.web-logo {
  color: #2196f3;
}
.head-logo {
  color: #000000;
}
.footer-logo {
  color: #ffffff;
}
